extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros img", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus atque sunt exercitationem illum a assumenda delectus temporibus? Libero quo excepturi, fuga reprehenderit tempore ex cumque.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, unde! Ab tenetur voluptate nulla praesentium corrupti maiores assumenda beatae, facere nemo sapiente quae voluptas in? Earum, aliquid, at voluptatum saepe accusantium impedit, cupiditate ea laboriosam pariatur optio autem! Accusamus obcaecati numquam amet eveniet, consequuntur, aliquam quaerat sunt explicabo consectetur, recusandae ratione eum similique sit quos. Quis facere unde eaque. Fuga.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum fugit itaque deserunt unde blanditiis aliquam harum, ex exercitationem. Reiciendis ex excepturi nemo ipsa placeat! Reprehenderit ab tempora iure aperiam ex?
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium dolorum voluptate doloremque corrupti et autem!
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 MejoresDestinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium dolorum voluptate doloremque corrupti et autem!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono Precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium dolorum voluptate doloremque corrupti et autem!